.pagewrap {
  width: 960px;
  margin: 0 auto;
}

.gobutton {
  margin: 0 0 0 25%;
}

.finalgrade {
  font-size: 25px;
}

.currentgrades,
.assignments {
  margin: 25px 0 0 0;
}

.quarterarrows {
  margin: 20px 0 0 15px;
}

table {
  width: 100%;
  margin: 0;
}
