/*colors 
blue rgba(82,158,242,1)
grey rgba(99,100,102,1)
*/

.searchbutton {
  background: rgba(82,158,242,1);
}

.pagewrap {
  width: 960px;
  margin: 0 auto;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: rgba(82,158,242,1);
}

.nav-bar,
.top-bar,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .has-form {
  background: rgba(99,100,102,1);
}

.gobuttonbox {
  margin: 0 0 0 25%;
}

.gobutton {
  background: rgba(82,158,242,1);
}

.finalgrade {
  font-size: 25px;
}

.currentgrades,
.assignments {
  margin: 25px 0 0 0;
}

.quarterarrows,
.coursearrows {
  margin: 7% 0 0 8%;
}

.quarterarrowbuttons,
.coursearrowbuttons {
  background: rgba(82,158,242,1);
}

table {
  width: 100%;
  margin: 0;
}

.gradprogress {
  text-align: center;
}



